<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>WORD COUNTER</h1>
      <hr>
      <p id="counterHeading"> <span class="box">0</span><span class="box">0</span><span class="box">0</span><span class="box">1</span><span class="box">2</span><span class="box">7</span></p>
      <hr>
      <h3>Fast, easy word counts for online text</h3>
    </header>
    <div class = "container">
      <p id = "first">This application counts how frequently a word appears in a given string.</p>
      <p>Please input both the word and the string of words to check.</p>
      <form action='/' method = 'post'>
        <div class='form-group'>
          <label for='word'>Word to count:</label>
          <input name='word' class='form-control width' type='text' value = "@Model.GetWord()">
        </div>
        <div class='form-group'>
          <label for='moreWords'>Sentence or text:</label>
          <input name='moreWords' class='form-control width' type='text' value = "@Model.GetWords()">
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </form>
      <br>

      @if (Model.GetDefault()) {
        <hr>
      } else if (!Model.IsWordValid() || !Model.IsValid()) {
        <hr>
        <p class="output">Your input is not svalid</p>
      } else if (Model.WordCounter() == 0) {
        <hr>
        <p class="output">The word <span>&quot;@Model.GetWord()&quot;</span> does not appear in the given text <span>&quot;@Model.GetWords()&quot;</span>.</p>
      } else if (Model.WordCounter() == 1) {
        <hr>
        <p class="output">The word <span>&quot;@Model.GetWord()&quot;</span> appears in the given text <span>&quot;@Model.GetWords()&quot;</span> <span class="counter">1 time</span></p>
      } else if (Model.WordCounter() > 1){
        <hr>
        <p class="output">The word <span>&quot;@Model.GetWord()&quot;</span> appears in the given text <span>&quot;@Model.GetWords()&quot;</span> <span class="counter">@Model.WordCounter() times</span></p>
      }
      <footer>
       <ul>
         <li>Posted by: Eva Antipina</li>
         <li>Contact information: <a href="mailto:example@gmail.com">
        example@gmail.com</a>.</li>
       </ul>
     </footer>
    </div>
  </body>
</html>
